@import "tailwindcss";

:root {
  font-family: "Roboto";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f5f5f4;
  background-color: #f5f5f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #00a6f4;
  text-decoration: inherit;
}
a:hover {
  color: #00a6f4;
}

body {
  background-color: #f5f5f4;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

button {
  border: #364153;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #00a6f4;
  color: #00a6f4;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f5f5f4;
  }
  a:hover {
    color: #00a6f4;
  }
  button {
    background-color: #f5f5f4;
  }
}


.primary-color {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-400 to-pink-600 inline-block;
}